extends layout

block content
  h1= title
  p Welcome to #{title}

  form#keyword
    input(type="text" name="keyword")
    input(type="submit" value="Generate")

  div#wordcloud
  script(src="./javascripts/wordcloud.js")
